body,
html {
    margin: 0;
    padding: 0;
}

.about-page_pagewrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    width: 50%;
    height: 200vh;

    overflow-y: hidden;
    overflow-x: auto;
    box-sizing: border-box;
}

.about-page-page_content {
    display: flex;
    flex-direction: column;

    gap: 40px;
    padding-top: 20%;
}

.about-page-header_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px;
    width: 100%;

    box-sizing: border-box;
    position: fixed;
    z-index: 3;
}

.about-me-content {
    display: flex;
    flex-direction: column;

    justify-content: center;

    padding-right: 40%;

    gap: 40px;

    height: 100%;
    width: 60%;
}

.about-me-content h1 {
    font-size: clamp(12px 2rem 5rem);
}

.experience {
    display: flex;
    flex-direction: column;
    gap: 30px;
}