body,
html {
    margin: 0;
    padding: 0;
}


h1 {
    font-weight: 100;
    font-size: clamp(24px, 4rem, 5rem);
    line-height: 1.2;
}

h3 {
    font-weight: 100;
    font-size: clamp(14px, 1rem, 1.5rem);
}

b {
    font-weight: 900;
}

.name {
    display: flex;
    flex-direction: column;
}


.about-page_pagewrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 50%;
    height: 100vh;

    overflow-y: hidden;
    overflow-x: auto;
    box-sizing: border-box;
}

.about-page-page_content {
    display: flex;
    flex-direction: column;

    gap: 40px;
    padding-top: 20%;
}

.about-page-header_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px;
    width: 100%;

    box-sizing: border-box;
    position: fixed;
    z-index: 3;
}

.about-me {
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    line-height: 1.2;
    letter-spacing: -0.02em;
}